#overlay 
{
	position: absolute;
	bottom: 1px; 
	left: 1px;
	right: 1px;
	top: 1px;
}
#overlay-console
{
	position: absolute;
	bottom: 0px; 
	height: 50vh;
	width: 100%;	
	overflow-x: hidden; 
	overflow-y: scroll;
	background-color: rgba(125, 0, 0, 0.15);
	color: white;
	font-family: monospace;
	padding: 1em;
}

#conerr
{
	color: red;
}
#conwarn
{
	color: yellow;
}
#conlog
{
	color: white;
}
#FrameTime
{
	color: white;
}